{% extends 'base.html' %}
{% load bootstrap4 %}


{% block title %}Connexion - {% endblock %}


{% block id_css_body %}body_login{% endblock %}


{% block statut_membre %}
    <div class="statut-membre-accounts">
        <p>Pas encore de compte ? <a href="{% url 'signup' %}">Je m'inscris</a></p>
    </div>
{% endblock %}


{% block content %}

    <h1 class="titre-accounts">Connexion</h1>

    <form method="POST">
        {% csrf_token %}
        {% bootstrap_form form show_help=False %}
        <input type="submit" class="btn btn-dark bouton-accounts" value="Se connecter">
    </form>

{% endblock content %}
