{% load static %}

{# Variables #}
{% static "images/home.svg" as home_icon %}
{% static "images/LITReview_text.png" as litreview_text_png %}
{% static "images/feed.svg" as feed_icon %}
{% static "images/posts.svg" as posts_icon %}
{% static "images/follow_users.svg" as account_follow_icon %}
{% static "images/logout.svg" as logout_icon %}
{% url "index" as index_url %}
{% url "logout" as logout_url %}

{# ************************** navtop big screens **************************  #}
<div class="navtop-box d-none d-sm-block">
    <nav class="nav navtop container">
        <div class="navtop-block center-block">
            <a class="nav-link active" href="{{ index_url }}" data-toggle="tooltip" data-placement="center"
               title="Accueil">
                <img src="{{ litreview_text_png }}" alt="" class="navbar-brand">
            </a>
        </div>
        <div class="navtop-block">
            <a class="nav-link" href="{{ index_url }}" data-toggle="tooltip" data-placement="right"
               title="Mon flux">
                <img src="{{ feed_icon }}" alt="" class="navbar-icon">
            </a>
            <a class="nav-link" href="{{ index_url }}" data-toggle="tooltip" data-placement="right"
               title="Mes posts">
                <img src="{{ posts_icon }}" alt="" class="navbar-icon">
            </a>
            <a class="nav-link" href="{{ index_url }}" data-toggle="tooltip" data-placement="right"
               title="Mes abonnements">
                <img src="{{ account_follow_icon }}" alt="" class="navbar-icon">
            </a>
            <a class="nav-link" href="{{ logout_url }}" data-toggle="tooltip" data-placement="right"
               title="Me deconnecter">
                <img src="{{ logout_icon }}" alt="" class="navbar-icon">
            </a>
        </div>
    </nav>
</div>

{# ************************** navbottom small screens ************************** #}
<div class="navbottom-box d-sm-none ">
    <nav class="nav navbottom">
        <a class="nav-link" href="{{ index_url }}">
            <img src="{{ home_icon }}" alt="" class="navbar-icon">
        </a>
        <a class="nav-link" href="{{ index_url }}">
            <img src="{{ feed_icon }}" alt="" class="navbar-icon">
        </a>
        <a class="nav-link" href="{{ index_url }}">
            <img src="{{ posts_icon }}" alt="" class="navbar-icon">
        </a>
        <a class="nav-link" href="{{ index_url }}">
            <img src="{{ account_follow_icon }}" alt="" class="navbar-icon">
        </a>
        <a class="nav-link" href="{{ logout_url }}">
            <img src="{{ logout_icon }}" alt="" class="navbar-icon">
        </a>
    </nav>
</div>
